# OS
#------------------------
.DS_Store


# Backups
#------------------------
*~
.*~


# Java
#------------------------
*.class
*/target/
/oneDay/2_GettingReady/HelloWorld/target/
/oneDay/4_ArraysStrings/ArraysStrings/target/
/oneDay/5_ControlFlow/controlflow/target/
